.arrayArea {
    display: flex;
    flex: 3;
    background-color: #2274ab;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #2274ab;
    border-bottom: 8px solid #2274ab;
}

.arrayDigit {
    background-color: rgb(225,1,193);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    height: 60px;
    width: 60px;
    border: 6px solid rgb(107, 0, 81);
    margin-right: 10px;
    border-radius: 10px;
    font-family: arial, serif;
    color: #ddd9d9;
    box-shadow: 1px 1px 20px rgba(202, 2, 172, 0.7);
    font-weight: 700;
}

.arrayText {
    text-align: center;
    border: 4px solid #272b7f;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 340px;
    background-color: #2a71a8;

    font-size: 22px;
    font-weight: bold;

    color: #ccc7c7;
}