p {
    font-family: arial, serif;
    margin: 0;
}

.resetbutton,
.title,
.creators,
.turns,
.points,
.resetButton {
    background-color: rgb(0, 123, 255);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2a71a8;
}

.resetButton {
    margin-left: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 15px 9px;
    font-size: 14px;
}

.title {
    position: absolute;
    left: 50%;
    border: none;
    color: black;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
}

.creators {
    display: inline-block;
}

.rightSection {
    display: flex;
    flex-direction: column;
}

.turns,
.points {
    font-size: 14px;
    color: black;
    margin-right: 10px;
    border-radius: 15px;
    padding: 5px 10px;
}

.turns {
    margin-top: 10px;
    margin-bottom: 5px;
}

.points {
    margin-bottom: 10px;
}
